header img {
    height: 141px;
    position: absolute;
    top: 35px;
    right: -5px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    z-index: 1;
}

.logo-container{
    position: relative;
    width: 100px;
    height: 160px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.479);
    font-size: 20px;
}
header ul{
    list-style: none;
    display: flex;
    gap: 80px;
}
header ul li a{
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

a:hover{
    color: #FF4654;
    font-weight: 700;
    text-shadow: #00000054 2px 2px 4px;
}

@media (max-width: 1043px) {
    header img {
        height: 80px;
        position: absolute;
        top: 35px;
        right: 29px;
    }
    header ul {
        gap: 43px;
        font-size: 18px;
    }
}


@media (max-width: 563px) {
    .map-container {
        width: 389px;
    }
    header img {
        height: 100px;
        position: absolute;
        top: 35px;
        right: 29px;
    }
    header ul{
        gap: 30px;
        font-size: 16px;
    }
    header img {
        height: 74px;
        top: 44px;
        right: 20px;
    }

    header ul {
    gap: 15px;
    font-size: 12px;
    }
}